h1{
  text-align: center;
}

.bot-container {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #6d7f9a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 400px; 
}

.card img {
  width: 150px;
  height: 150px; 
}


.card h3 {
  margin-top: 0;
}


.card-button {
  background-color: #526875;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.enlisted-bot-container {
  background-color: rgb(159, 196, 159);
  padding: 20px;
  margin-bottom: 20px;
}

.enlisted-bots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.enlisted-bot {
  background-color: #cfc5c5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 400px;
}
.enlisted-bot img {
  width: 150px;
  height: 150px; 
}

.enlisted-bot h3 {
  margin-top: 0;
}

.enlisted-bot p {
  margin: 5px 0;
}

.enlisted-bot-button {
  background-color: #526875;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
